html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 0;
  }
  
  li {
    height: 40vh;
    flex-grow: 1;
    list-style: none;
    position: relative;
    overflow: hidden;
  }

  li a {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 200px #000000;
  }

  li.loaded:hover .imageInfo, li.loaded:hover .shadow {
    display: block;
    opacity: 1;
  }
  
  img, svg {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    transition: ease-in-out opacity 1s;
  }

  img.preload {
    min-height: 100%;
    filter: blur(5px);
    transform: scale(1.1);
    position: absolute;
    overflow: hidden;
  }

  .imageInfo {
    position: absolute;
    height: 16px;
    bottom: 8px;
    width: 100%;
    text-align: center;
    display: text;
    color: white;
    opacity: 0;
  }

  .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 -25px 100px 0 rgba(0,0,0,0.75);
    top: 0;
    left: 0;
    opacity: 0;
    transition: ease-in-out opacity 200ms;
  }

  li:last-child {
    flex-grow: 10;
    background-color: grey;
  }

  @media (max-aspect-ratio: 1/1) {
    li {
      height: 30vh;
    }
  }

  @media (max-height: 480px) {
    li {
      height: 80vh;
    }
  }

  @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    ul {
      flex-direction: row;
    }
  
    li {
      height: auto;
      width: 100%;
    }
  
    img, svg {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
  }